<% include partials/header.ejs %>
        
    <div class="container">
        <div class="jumbotron">
            <h1>See the Donator Leaderboard</h1>
        </div>
        <div class="jumbotron">
            <h3>Donators with highest amount of donation</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Donation Amount</th>
                    </tr>
                </thead>
                <% var index = 1; %>
                <% for (var donator of max_amount){ %>
                    <tbody>
                        <tr>
                            <th scope="row"><%= index %></th>
                            <% index++; %>
                            <td><%= donator.firstname %></td>
                            <td><%= donator.lastname %></td>
                            <td><%= donator.amount %></td>
                        </tr>
                    </tbody>
                <% } %>
            </table>
            <h3>Our oldest donators</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Time of Joining Us</th>
                    </tr>
                </thead>
                <% index = 1; %>
                <% for (var donator of oldest_user){ %>
                    <tbody>
                        <tr>
                            <th scope="row"><%= index %></th>
                            <% index++; %>
                            <td><%= donator.firstname %></td>
                            <td><%= donator.lastname %></td>
                            <td><%= donator.joining_time %></td>
                        </tr>
                    </tbody>
                <% } %>
            </table>
        </div>
    </div>
        
<% include partials/footer.ejs %>